<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <meta charset="UTF-8" />
    <title>Thread List</title>
  </head>
  <body>
    <div class="ui container">
      <div class="ui tiny menu">
        <a class=" mini item" href="/listThreads">
          <img class="ui tiny image left aligned" src="/images/WC.jpg"
        /></a>
        <h3 class="item header">
          Welcome <%=username%>!
        </h3>
        <div class="right menu">
          <div class="item">
            <a class="ui primary" title="Change password" href="/changePassword"
              ><i class="cog icon large"></i
            ></a>
          </div>
          <div class="item">
            <a class="ui primary" href="/logout"
              ><i class="sign-out icon large"></i
            ></a>
          </div>
        </div>
      </div>

      <% if(threads.length){ threads.forEach((thread)=>{%>
      <div class="ui relaxed items">
        <div class="item">
          <div class="ui mini circular image">
            <img src="/images/boy.png" />
          </div>
          <div class="content">
            <a class="header" href="/view/<%=thread._id%>"><%=thread.title%></a>
            <div class="extra">
              by: <%=thread.author%>
            </div>
          </div>
        </div>
      </div>
      <%})}else{%>
      <h1>No available thread!</h1>
      <% } %>
      <a class="ui button positive" href="/create"
        ><i class="plus icon"></i>Add New Thread!</a
      >
    </div>
  </body>
</html>
